<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<connectionStrings>
		<!--<add name="con" connectionString="Data Source==113.30.248.60;Initial Catalog=ERP;Persist Security Info=True;User ID=sa;Password=3HMungiIMR" providerName="System.Data.SqlClient" />-->
		<!--<add name="con" connectionString="Data Source==192.168.100.2;Initial Catalog=ERPDemo;Persist Security Info=True;User ID=sa;Password=sa#1234" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<!--KALAGROUPDC\KGPL-->

		<!--<add key="con" value="server=13.71.50.58;database=Testing_DB;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->

		<!--Dummy-->
		<!--<add key="con" value="server=4.240.123.216;database=ERPIOT;pwd=IMRMungi3HIOT;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" ></add>-->

		<!--<add key="con" value="server=13.71.50.58;database=TestDB;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='
		true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<!--<add key="con" value="server=13.71.50.58;database=TestNewDB;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->

		<add key="con" value="server=13.71.50.58;database=ERP;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;"/>
		<!--<add key="con" value="server=4.240.123.216;database=Production_ERP;pwd=IMRMungi3HIOT;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<!--<add key="con" value="server=4.240.123.216;database=ERPIOTNEW;pwd=IMRMungi3HIOT;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->


		<!--<add key="con" value="server=20.204.154.252;database=ERP;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<!--<add key="conQR" value="server=20.44.40.56;database=ERP;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<!--<add key="con" value="server=KALAGROUPDC\KGPL;database=ERPDemo;pwd=sa#1234;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<!--<add key="CScon" value="server=113.30.248.60;database=KalaPower;pwd=3HMungiIMR;uid=sa;Connect Timeout=0; pooling='true'; Min Pool Size=0 ; Max Pool Size=800;" />-->
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>

		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<add key="Quotationfile" value="C:\TempERPFile\TempQuotationAngular"/>

	</appSettings>
	<system.web>
		<!--<compilation debug="true" targetFramework="4.7.2" />-->

		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.VSDesigner, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Windows.Forms, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WinForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>

		<httpRuntime targetFramework="4.7.2" executionTimeout="240" maxRequestLength="512000"/>

		<!--307200-->

	</system.web>
	<system.webServer>



		<!--<handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
        <remove name="OPTIONSVerbHandler"/>
        <remove name="TRACEVerbHandler"/>
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
          preCondition="integratedMode,runtimeVersionv4.0"/>
      </handlers>-->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="3000000000"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type"/>
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>
